@import "~src/variables";

//this is also the main css for bubble-right. Only things that are specific for that position should go there

.bubble{
  max-width: 500px;
  width: 500px;

  padding: 0;
  border-radius: 27.41px;
  display: block;
  @include box-shadow;
  background-color: white;

}

.bubbleText{
  max-width: 95%;
  margin-left: 20px;
  margin-right: 8px;
  word-wrap: break-word;
  display: inline-block;



}

.bubbleArrow{
  padding: 0;
  margin-top: -(28px + $margin);
  float: left;
  fill: white ;
}

