.chatwrapper{
  width: 50vw;
  //margin-right: 50px;
  //margin-left: 50px;
  height: 600px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  align-items: initial;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);



}

#mood{
}
